<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title><%= djs.name %> - (<%= djs.sys.country %>)</title>
  </head>
  <body>
    <div class="bg-secondary text-white">
      <div class="p2 bg-light text-dark">
        <h1><%= djs.name %> Weather Now</h1>
        <table class="table table-hover">
          <tr>
            <td>Main Weather</td>
            <td><%= djs.weather[0].main %></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><%= djs.weather[0].description %></td>
          </tr>
          <tr>
            <td>Temperature</td>
            <td><%= cTemp %> °C</td>
          </tr>
          <tr>
            <td>Wind</td>
            <td><%= djs.wind.speed %> meter/sec</td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td><%= djs.main.humidity %>%</td>
          </tr>
        </table>
        <button type="button" class="btn btn-link">
          <a href="/">Back to Homepage</a>
        </button>
      </div>
    </div>
  </body>
</html>
